* {
  font-family: "Righteous", sans-serif;
}

p {
  font-size: 1.4rem;
}

body {
  background-color: #1a1a1a !important;
  max-width: 100%;
  overflow-x: hidden;
}

.text_center {
  text-align: center;
}

.row {
  margin: 0 auto;
}

.profile_header {
  padding: 10px;
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.profile_img_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

.profile_picture--circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.profile_header h1 {
  font-size: 8rem;
  font-weight: bold;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile_header h2 {
  color: #eee;
  margin-top: -10px;
  font-size: 6rem;
  font-weight: 200;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile_header p {
  color: #eee;
}

.row_github .card {
  /*   background-color: #1a1a1a; */
  /*   color: white; */
  transition: all 0.2s ease !important;
  background-color: #1a1a1a;
}

.row_github {
  padding: 50px !important;
}

.row_github [class^="col"] {
  padding: 10px;
}

.row_github .card-title {
  text-align: center;
  padding: 10px 10px 20px 10px;
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row_github .card i {
  font-size: 90px;
  padding: 20px;
  text-align: center;
  color: #0d6efd;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row_github p {
  text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  text-align: center;
  font-size: 1.4rem !important;
  background: -webkit-linear-gradient(#eee, #0d6efd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn:hover {
  background: #0d6efd;
  -webkit-background-clip: none;
  -webkit-text-fill-color: white;
}

.row_github .card:hover {
  border: 2px solid #0d6efd;
  scale: 1.05;
}

.row_github .card-footer {
  border: none;
}

.header {
  color: #eee;
  padding: 20px;
  font-size: 6rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header--center {
  text-align: center;
}

.col-lg-12 {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.row_skills {
  padding: 30px;
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

.row_skills .header {
  color: black;
}

.marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 17px;
}

.marquee_content {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 60s linear infinite;
  font-size: 5rem;
}

.marquee_content_item--1 {
  font-weight: bold;
  background: -webkit-linear-gradient(#eee, #0d6efd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: 0%;
  animation: swap 60s linear infinite;
}

.marquee_content_item--2 {
  font-weight: bold;
  background: -webkit-linear-gradient(#eee, #0d6efd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes swap {
  0%,
  50% {
    left: 0%;
  }

  50.00000001%,
  100% {
    left: 100%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.row_github {
  padding: 30px;
  max-width: 100%;
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}

.row_github .card {
  margin: 0 auto;
  padding: 5px;
  border: 2px solid transparent;
  transition: scale 0.2s ease;
  min-height: 400px;
  -webkit-animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s
    both;
  animation: slide-in-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
