.profile_picture--circle {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.row {
    margin: 0 auto;
}
.row_github .card {
    margin: 0 auto;
    padding: 5px;
    box-shadow: none;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}

.row_github .card:hover {
    border: 2px solid #0d6efd;
    box-shadow: 5px 5px 15px gray;
    scale: 1.1;
}

.card .btn {
    text-align: center;
}

.header {
    padding: 20px;
}

.header--center {
    text-align: center;
}

.col-lg-12 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.col-lg-3 {
    padding: 20px;
}


.profile_header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.profile_header .container {
    width: 100%;
    margin: 0 auto;
}

.width--medium {
    text-align: left;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}